# **Objectives**


### **Data Manipulation with Python**
* **[Data Frames, Data Series and Pandas Library](#scrollTo=jBIdS1e4E-74)**
* **Hands-on working on a data file with Pandas**
  * [Creating a Dataframe Object and Saving/Exporting DataFrames](#scrollTo=CxQlMkrDE-76)
  * [Exploring a Dataframe](#scrollTo=iVh0ikhOE-7-) (Columns, Datatypes, Shape etc)
  * [Dataframe and Series Slicing and Indexing](#scrollTo=didszzDEE-8A)
  * [Querying Dataframes](#scrollTo=mt9ieDjbE-8I)
  * [Running Statistics on Dataframes](#scrollTo=u-K-K3ocE-8K)
  * [Grouping and Aggregating Dataframes](#scrollTo=yh3Vg2UlE-8L)


## **Using LLM AI as a coding tutor when learning this workshop on your own.**
There are several ways that LLM can help improve your self-learning process. LLM AI can be used as a coding tutor to help:
* Explain new concepts in other words. Ask it to give basic, intermediate, or advanced explanations of coding concepts depending on your familiarity and comfort level.
* Guide you through the exercises and explain the logic and code. If you get stuck with the exercises, you can ask a LLM to give you a step-by-step guide to the exercise so you better understand the learning objectives. For best results, be very specific with the LLM AI so it has the necessary context to best help you.

* Give you more exercises. If you aren't sure you understand a concept and want to test your knowledge, ask a LLM AI to give additional exercises to help test your abilities and understanding. They can be coding problems, multiple choice, fill in the blank, or whatever will work best for your learning style. Be creative and get the support you want.  

The AI has infinite patience, so ask as many questions as you want!

### **The Animal Emojis**

As you go through this workshop, you will notice **Animal Emojis** embedded throughout. They accompany bolded terms that are the fundamental concepts that python programming is built upon. The key thing here is **if you see an emoji, consider asking a LLM AI about the bolded concept**.
  - To collect all the animals, you should follow the workshop section by section and add your found animal (new coding concept) to the end of the following prompt and take it to LLM AI:

 `You are going to take on the role of an excellent python coding tutor. I'm a beginner learning to program in python. In simple terms, please give me an overview and explanation of the following concept:  `

  - You can add more surrounding components to the prompts to make it more clear. For example, maybe you know another language and want LLM AI to compare how the concept works in R or C++ to help you better understand.

### **Disclaimer**
- Outputs may be inaccurate, untruthful, and otherwise misleading.
- It may produce biased content.
- It will not cite sources.
  
Always use caution when interacting with LLM AI systems. Despite the large bounds in progress and capability, they are still in early versions and teams of people are working to fix short comings and mistakes each and every day. Despite how useful they can be as coding tutors, it is important to remember that their outputs should be met with a healthy amount of skepticism.

## **Data**
We will be using files from the [Portal Project Teaching Database](https://figshare.com/articles/Portal_Project_Teaching_Database/1314459). This section will use the **'surveys.csv'** file, stored as a **'.csv'** and can be downloaded here: https://ndownloader.figshare.com/files/2292172<br>
We are studying the species and weight of animals caught in sites in our study area.<br>
Each row holds information for a single animal, and the columns represent:

| **Column**      | **Description**               |
|:----------------|:------------------------------|
| record_id       | Unique id for the observation |
| month           | month of observation          |
| day             | day of observation            |
| year            | year of observation           |
| plot_id         | ID of a particular site       |
| species_id      | 2-letter code for a species   |
| sex             | sex of animal (â€œMâ€, â€œFâ€)      |
| hindfoot_length | length of the hindfoot in mm  |
| weight          | weight of the animal in grams |

## **ðŸºPython Dataframe**
* 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, factors and more) in a tabular form. Each row holds information for each column.
* Similar to a spreadsheet or an SQL table or the **'data.frame'** in R.
* Dataframes have indexes starting from 0.
* An index refers to the position of an element in the data structure.

## **ðŸ¦Python Series**
* A series is a one-dimensional structure like an associative array.
* Series have indexes starting from 0.
* An index refers to the position of a value in the data structure.

|index | value     |
|------|-----------|
| 0    | -84.5099  |
| 1    | -84.48937 |
| 2    | -84.4432  |


## **ðŸ¯Pandas (Python Data Analysis Library)**
* **Python Data Analysis Library** shortened as **pandas** is a third-party package for data manipulation
* The **pandas** package is one of the best options for working with tabular data in Python
* **pandas** ingest data as Dataframe objects and works with both Dataframes and Series
* **pandas** uses sequential indexes by default
* **pandas** provides data structures, produces high quality plots with **matplotlib** (a Python package graphing) and integrates nicely with other libraries that use **NumPy** (a Python package for arrays processing).
* Operations on **numpy** arrays also work on **pandas** Series


---
Did you notice the first animal emoji - a wolf? Here is an example of how to use the sample prompt given above:

`You are going to take on the role of an excellent python coding tutor. I'm a beginner learning to program in python. In simple terms, please give me an overview and explanation of the following concept: Python dataFrame`

**Importing Pandas**

In [8]:
import pandas as pd

In [9]:
## Run this cell if you're on Colab to download the 'data' file
!wget https://raw.githubusercontent.com/The-CEAS-Library/Data_Manipulation_with_Python/master/data/surveys.csv

--2024-11-07 19:23:59--  https://raw.githubusercontent.com/The-CEAS-Library/Data_Manipulation_with_Python/master/data/surveys.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1021662 (998K) [text/plain]
Saving to: â€˜surveys.csvâ€™

surveys.csv         100%[===================>] 997.72K  --.-KB/s    in 0.03s

2024-11-07 19:24:00 (28.5 MB/s) - â€˜surveys.csvâ€™ saved [1021662/1021662]

### **ðŸ¦’Reading CSV Data** - ***pd.read_csv( )***
The pandas **'read_csv'** function pulls import from **'.csv'** files into a Dataframe objects

*Syntax*:<br>
**dataframe_object = pd.read_csv( file_path_name )**

*Usage*:

In [10]:
surveys_df = pd.read_csv("surveys.csv")
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

The first column is the **ðŸ¦Š'0-based' index** of the DataFrame. It is not an actual column of the DataFrame but used to identify the position of the data.

### **Dataframe *head( )* and *tail( )* methods**
The **'head( )'** method displays the first several lines of a dataframe object.
The **'tail( )'** method displays the last several lines of a dataframe object.

*Syntax*:<br>
**data_frame_object_name.head ( [ row_count_limit ] )**<br>
**data_frame_object_name.tail ( [ row_count_limit ] )**

**# row_count_limit is optional. Default is 5**


*Usage*:

In [11]:
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [12]:
surveys_df.tail(10)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

### **ðŸ¦Writing out Data from Dataframe to CSV using *to_csv( )* method**
The **'to_csv'** pandas DataFrame method is used to export a DataFrame in CSV format

*Syntax*:<br>
**data_frame_object_name.to_csv ( csv_file_path_name , [ index ] , [ sep ] , [ na_rep ] , [ mode ] )**

*Note*:
* **csv_file_path_name** is the file path. If **None** is provided the result is returned as a string. Default is **None**
* **index** is boolean value for Write row index/names. Default is **True**. Set this to **False** so that pandas doesnâ€™t include the index number for each line.
* **sep** is a string of length 1 for field delimiter for the output file. Default is **' , '**
* **na_rep** is a string for missing data representation. Default is **' '**
* **mode** is a string for the Python write mode. Default is **'w'**

*Usage*:

In [13]:
surveys_df_head = pd.read_csv("surveys.csv").head(30)
surveys_df_head.to_csv('surveys_head.csv', index=False)

**<h5><center>Note</center></h5>**

**' to_excel '** pandas DataFrame method is used to export a DataFrame to an **Excel .xlsx** file

## **Accessing Data Attributes of a DataFrame Object**

### **ðŸ»Dataframe '*dtypes*' data attribute**
Shows the the data types of the values in the columns.

*Syntax*:<br>
**data_frame_object_name.dtypes**

*Usage*:

In [14]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

### **ðŸ»â€â„ï¸Dataframe '*columns*' data attribute**
Shows an index list of all the column names in the DataFrame.

*Syntax*:<br>
**data_frame_object_name.columns**

*Usage*:

In [15]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [ ]:
surveys_df.columns[0:4]

### **ðŸ¼Dataframe '*shape*' data attribute**
Outputs a tuple of the row by column count of the DataFrame.

*Syntax*:<br>
**data_frame_object_name.shape**

*Usage*:

In [ ]:
surveys_df.shape

### **ðŸ¦“Selecting data using Column Names**
* DataFrame objects are treated like dictionaries using column heads as keys
* We use square brackets **[ ]** to select column data and for indexing<br>

*Syntax*:<br>
**data_frame_object_name [ 'column_name' ]**

*Usage*:

In [ ]:
surveys_df['record_id']

* You may selct more than one column at a time by making a list of the column names<br>

*Syntax*:<br>
**data_frame_object_name [ [ 'column_name_1' , 'column_name_2' ] ]**

*Usage*:

In [ ]:
surveys_df[['month', 'day']]

* You may select a column data also by using the column name as an 'attribute'<br>

*Syntax*:<br>
**data_frame_object_name.column_name**

*Usage*:

In [ ]:
surveys_df.record_id

### **ðŸŽSelecting Unique values from a column**
#### Using pandas *'unique'* function
The **pandas.unique()** function tells us all of the unique values in a column

*Syntax*:<br>
**pd.unique ( data_frame_object_name [ 'column_name' ] )**<br>
or<br>
**pd.unique ( data_frame_object_name.column_name )**

*Usage*:

In [ ]:
pd.unique(surveys_df['species_id'])

In [ ]:
pd.unique(surveys_df.species_id)



*Syntax*:<br>
**data_series_object_name.unique ( )**<br>
or<br>
**data_frame_object_name [ 'column_name' ].unique ( )**<br>

In [ ]:
surveys_df['species_id'].unique()

### **ðŸ¦„Extracting data Subsets by Indexing and Slicing**
#### **Slicing and subsetting rows**

In [ ]:
surveys_df[0:5]

In [ ]:
surveys_df[3:7]

In [ ]:
surveys_df[5:]

In [ ]:
surveys_df[:5]

In [ ]:
surveys_df[-1:]

In [ ]:
surveys_df[-3:]

In [ ]:
surveys_df[-3:-1]

#### **Selecting and slicing data from columns**

In [ ]:
surveys_df['record_id']

In [ ]:
surveys_df['record_id'][0]

In [ ]:
surveys_df.record_id[0]

In [ ]:
surveys_df['record_id'][0:4]

In [ ]:
surveys_df[['record_id','plot_id']][0:5]

#### **Slicing Subsets of Rows and Columns**
We can select a specific row and a column value (a specific data element) or ranges of the data in both the row and column directions using either the **'iloc'** data attribute with integer-based indexing or the **'loc'** data attribute with integers for rows and the column labels.


##### **ðŸ¦¬iloc**
* Integer based indexing in the row and column directions
* Indexing follows the same **0-based** indexing and slicing concepts used earlier

*Syntax*:<br>
**# for a specific data element**

**data_frame_object_name.iloc [ row_index, column_index ]**

**# Remember that Python indexing begins at 0. So, the index location [2, 6] selects the element that is 3 rows down and 7 columns of the DataFrame.**

*Usage*:

In [ ]:
surveys_df.iloc[2, 6]

In [ ]:
surveys_df.head(5)

*Syntax*:<br>
**# for a range of data element**

**data_frame_object_name.iloc [ starting_row_index : ending_row_index + 1 , starting_column_index : ending_column_index + 1 ]**

**# Remember that in Python slicing, ending indices are not included in selection. So, the index location [1:4, 0:5] selects the  element in row 2 to 4 (index 1 to 3) and in columns 1 to 5 (index 0 to 4) of the DataFrame.**

*Usage*:

In [ ]:
surveys_df.iloc[1:4, 0:5]

In [ ]:
surveys_df.iloc[3:5, 5:8]

In [ ]:
surveys_df.iloc[3:5, :]

In [ ]:
surveys_df.iloc[:, 5:8].head()

*Syntax*:<br>
**# selection by specifying a list of row indexes and list of column indexes**

**data_frame_object_name.iloc [ [ list of row indexes ] , [ list of column indexes ] ]**

*Usage*:

In [ ]:
surveys_df.iloc[[2,5,23,1], [8,5,6,7]]

In [ ]:
surveys_df.iloc[[2,5,23], :]

In [ ]:
surveys_df.iloc[[2,5,23], 5:8]

##### **ðŸ‚loc**
* Label based indexing.
* Rows use Integer labels. When integers are used, they are interpreted as a label and not indexes.
* Columns use a list of strings of the column names.
* Indexing follows the same **0-based** indexing and slicing concepts used earlier

NB: The integer row labels in **'loc'** are different from the integer indexes in **'iloc'**. With loc, both the start bound and the stop bound are inclusive.

*Syntax*:<br>
**# selection by specifying a list of integer row labels and list of column names**

**data_frame_object_name.loc [ [list of row indexes ] , [list of column names ] ]**

**# selection by specifying starting and ending integer row label and list of column names**

**data_frame_object_name.loc [ starting_integer_row label : ending_integer_row label , [list of column names ] ]**


*Usage*:

In [5]:
surveys_df.loc[2:5,['species_id', 'plot_id', 'weight']]

NameError: name 'surveys_df' is not defined

In [ ]:
surveys_df.loc[[2,5,5,7],['species_id', 'plot_id', 'weight']]

In [ ]:
surveys_df.loc[2:5,:]

In [ ]:
surveys_df.loc[:,['species_id', 'plot_id', 'weight']].tail()

## **ðŸ¦˜Creating Queries**
Similar to SQL and R, we can select a subset of our data using criteria

*Syntax*:<br>
**data_frame_object_name [ < condition > ]**<br>

**# Conditions must be based on columns names**

*Usage*:

In [ ]:
surveys_df[surveys_df['weight'] == 88]

In [ ]:
surveys_df[surveys_df.weight == 88]

In [ ]:
surveys_df[surveys_df.month == surveys_df.plot_id].head()

**<h5><center>Note</center></h5>**

1. **Remember the python Comparison Operators discussed in the Introduction to Python Programming workshop**
   * Equals: **==**
   * Not equals: **!=**
   * Greater than, less than: **>** or **<**
   * Greater than or equal to, Less than or equal to: **>=** or **<=**<br><br>
2. **Remember the python Logical Operators discussed in the Introduction to Python Programming workshop. This time we use the BITWISE versions**<br>
   * Logical AND ( **&** )<br>
     *Syntax*:<br>
     *Note the parenthesis around each condition*<br>
     **data_frame_object_name [ ( < condition 1 > ) & ( < condition 2 > ) ]**<br><br>
   * Logical OR ( **|** )<br>
     *Syntax*:<br>
     *Note the parenthesis around each condition*<br>
     **data_frame_object_name [ ( < condition 1 > ) | ( < condition 2 > ) ]**<br><br>
   * Logical NOT ( **~** )<br>
     **Use the ' ~ ' symbol to return the OPPOSITE of the selection**<br>
     *Syntax*:<br>
     **data_frame_object_name [ ~ ( < condition > ) ]**<br><br>
   
4. You can use the **'isin'** method to query a DataFrame based upon a list of column value<br>
   
   *Syntax*:<br>
   **data_frame_object_name [ data_frame_object_name[ ' column_name ' ] . isin ( [ list of column values to search ] ) ]**<br>
   or<br>
   **data_frame_object_name [ data_frame_object_name . column_name . isin ( [ list of column values to search ] ) ]**

   *Usage*:

In [ ]:
surveys_df[(surveys_df.weight == 88) & (surveys_df.month == surveys_df.plot_id)]

In [ ]:
surveys_df[surveys_df['weight'].isin([88,0.5,1])]

In [ ]:
surveys_df[~(surveys_df.weight.isin([88,0.5,1]))]

## **Exercise 1**
#### Queries
Perform the following queries
1. Select a subset of rows in the surveys_df DataFrame that contain data from the year 1999 and weights less than or equal to 8.
   How many rows did you end up with? What did your neighbor get?
2. Display **record_id** and **plot_id** of data that contain data of the years 1999, 2000, 1977 and 1989.
3. Write query that selects all rows with sex equal to â€˜Mâ€™ or â€˜Fâ€™ in the data. Write two different queries that produce this same result.Write two different queries that do the same thing.

### **ðŸ«Summary statistics methods**
**Calculate basic statistics for all records in all columns, a group of columns or a single column in a dataframe**

In [ ]:
surveys_df.describe()

In [ ]:
surveys_df[['hindfoot_length','weight']].describe()

In [ ]:
surveys_df['record_id'].describe()

**Extract one specific metric**

**data_frame_object . min( )<br>
data_frame_object . max( )<br>
data_frame_object . mean( )<br>
data_frame_object . std( )<br>
data_frame_object . sum( )<br>
data_frame_object . count( )**

In [4]:
surveys_df.min()

NameError: name 'surveys_df' is not defined

In [ ]:
surveys_df.mean()

In [ ]:
surveys_df[['hindfoot_length','weight']].min()

In [ ]:
surveys_df[['hindfoot_length','weight']].mean()

In [ ]:
surveys_df['record_id'].min()

In [ ]:
surveys_df['record_id'].mean()

## **ðŸ˜Group by**
**To summarize by one or more column**
1. Use the **groupby ( )** pandas dataframe method. This creates a group by object in memory
2. Use one on of the following summary statistics methods to get the grouped by data; **describe ( )**,**min ( )**,**max ( )**,**mean ( )**,**std ( )**,**count ( )**
3. Use the **ðŸ‡agg( )** function to get different statistics on different columns in a group by object

In [1]:
a=surveys_df.groupby('sex')

NameError: name 'surveys_df' is not defined

In [2]:
a.describe()

NameError: name 'a' is not defined

In [3]:
a.mean()

NameError: name 'a' is not defined

In [ ]:
surveys_df[['sex','hindfoot_length','weight']].groupby('sex').describe()

In [ ]:
surveys_df[['sex','species_id','hindfoot_length','weight']].groupby(['sex','species_id']).max()

In [ ]:
surveys_df[['sex','species_id','hindfoot_length','weight']].groupby(['sex','species_id'])['hindfoot_length'].max()

In [ ]:
surveys_df[['sex','species_id','hindfoot_length','weight']].groupby(['sex','species_id'])['weight'].sum()

In [ ]:
surveys_df[['sex','species_id','hindfoot_length','weight']].groupby(['sex','species_id']).agg({'hindfoot_length':'max','weight':'sum'})

## **Exercise 2**
#### Data Workflows and Automation
1. Create a script/module called **'survey_years.py'** with the following
   * Import the **pandas** and **os** modules
   * Create a new folder called **'yearly_files'** using the **os.mkdir( ' data/yearly_files ' )** function
   * Create a first function called **generate_year_files** that imports **'surveys.csv'** into a dataframe and do the following<br>
     a) Read all the unique years<br>
     b) For each year between **1990** and **2000**, create new **CSV** files with data from only one particular year.<br>
     c) The name of the new files should follow the format **'survey_year.csv'** example **'survey_1977.csv'**<br>
     **HINT**: Use the **for loop** and **if block**<br><br>
   * Create the second function called **display_year_file_names** which reads names of the files generated and print them out.<br>
     **HINTS**:<br>
     Use the **os.listdir ( ' path/survey_\* ' )** function to get the list of all files<br>
     Use the **for loop** to loop through and print the file names<br><br>
2. Import the **'survey_years.py'** module into your current session and use the two functions to generate the files for the years and print the file names

In [17]:
import os

In [18]:
os.mkdir('data')
os.mkdir('data/yearlyfiles')

In [21]:
def generate_year_files():
    surveys
    #get a lits of unique years
    #for year in list of unique years:
      # years betweekn 1990 and 2000
        #create a new databaframe for each year
        #save that dataframe to file inside data/yearlyfile
        #surveys_[year].csv
        #dataframe_object_to_csv(file_path_name)
        surveys_df = pd.read.to_csv

def display_year_file_names():

## **Bonus Exercise**

* Grouping on each month, find the average hindfoot length
* Find the number of entries and average weight for each plot
* For every entry not during the summer (months June, July, August), find the largest hindfoot length

## **Advanced and Future Topics**
* Concatenation of dataFrames with the pandas concat function
* Left, Right, Inner and Outer joins with the pandas merge function
* Python for Data Visualization
* Error Handling and Exceptions
* List Comprehension
* Regular Expressions
* Database Access
* Multithreading

## **Helpful Resources**
* CEAS Library Python resources - http://guides.libraries.uc.edu/python
* Online links & tutorials
 * Data Carpentry - https://datacarpentry.org/python-ecology-lesson/
 * Python documentation - https://www.python.org/doc/
 * Python Programming wiki book - http://en.wikibooks.org/wiki/Python_Programming
 * Python tutorials - Udemy, Code academy, etc


$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Thank you for attending the workshop !!**


$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Your kind suggestions/feedbacks are more than welcome**