# **Objectives**

* **Hands-on**
 * **Control Flow**
    * [Comparison Operators](#scrollTo=GfxU8vUVLiH7&line=1&uniqifier=1)
    * [Logical Operators](#scrollTo=DbNN7z7hLiIH&line=1&uniqifier=1)
    * [Decision Block](#scrollTo=wxILHGq5LiIK)
 * **Loops**
    * [While Loop](#scrollTo=QqgNRn1ULiIN)
    * [For Loop](#scrollTo=Jx0-K18QMoYp)
 * [Functions](#scrollTo=oVwxtDRtLiIR)
 * [Variable scope](#scrollTo=YsVu_qNNLiIU) <br><br>


## **Using LLM AI as a coding tutor when learning this workshop on your own.**
There are several ways that LLM can help improve your self-learning process. LLM AI can be used as a coding tutor to help:
* Explain new concepts in other words. Ask it to give basic, intermediate, or advanced explanations of coding concepts depending on your familiarity and comfort level.
* Guide you through the exercises and explain the logic and code. If you get stuck with the exercises, you can ask a LLM to give you a step-by-step guide to the exercise so you better understand the learning objectives. For best results, be very specific with the LLM AI so it has the necessary context to best help you.

* Give you more exercises. If you aren't sure you understand a concept and want to test your knowledge, ask a LLM AI to give additional exercises to help test your abilities and understanding. They can be coding problems, multiple choice, fill in the blank, or whatever will work best for your learning style. Be creative and get the support you want.  

The AI has infinite patience, so ask as many questions as you want!

### **The Food Emojis**

As you go through this workshop, you will notice **Food Emojis** embedded throughout. They accompany bolded terms that are the fundamental concepts that python programming is built upon. The key thing here is **if you see an emoji, consider asking a LLM AI about the bolded concept**. For fun, we have gamified this by thinking of the emojis as dishes you can collect on a world food tour.
  - To collect all the dishes, you should follow the workshop section by section and add your found dish (new coding concept) to the end of the following prompt and take it to LLM AI:

 `You are going to take on the role of an excellent python coding tutor. I'm a beginner learning to program in python. In simple terms, please give me an overview and explanation of the following concept:  `

  - You can add more surrounding components to the prompts to make it more clear. For example, maybe you know another language and want LLM AI to compare how the concept works in R or C++ to help you better understand.

### **Disclaimer**
- Outputs may be inaccurate, untruthful, and otherwise misleading.
- It may produce biased content.
- It will not cite sources.
  
Always use caution when interacting with LLM AI systems. Despite the large bounds in progress and capability, they are still in early versions and teams of people are working to fix short comings and mistakes each and every day. Despite how useful they can be as coding tutors, it is important to remember that their outputs should be met with a healthy amount of skepticism.

## **Control Flow**
### üç±**Comparison Operators**
* Used to form Conditions
* Generates Boolean Outputs
---
Did you notice the first food emoji? Here is an example of how to use the sample prompt given above:

 `You are going to take on the role of an excellent python coding tutor. I'm a beginner learning to program in python. In simple terms, please give me an overview and explanation of the following concept: Comparison Operators `

In [1]:
a = 5
b = 6
name = 'Smith'

**Equal to (==)**

In [2]:
a == 5

True

In [3]:
a == b

False

**Not equal to (!=)**

In [4]:
a != b

True

In [5]:
name != 'Smith'

False

**Less than (<) and Greater than (>)**

In [ ]:
a < b

In [ ]:
b > 7

**Greater than or equal to (>=) and Less than or equal to (<=)**

In [ ]:
a <= 5

In [ ]:
b >= 7

### üçò**Logical Operators**
Logical operators are used to combine Comparison statements and to negate the output of a Comparison statement.
<br>
Below are Logical operators supported by Python language. All other Logical operators can be derived from these

**Logical AND (and)**
* Logical **'and'** returns **'True'** only if all the conditions are satified or True values.

In [6]:
a = 5
b = 6

In [14]:
a <= 5 and a < b

True

In [15]:
a <= 5 and b >= 7

False

**Logical OR (or)**
* Logical **'or'** returns **'True'** if one of the conditions in a conditional statement is satisfied or a True value.
* It will return **'False'**, only when all the conditions in a conditional statement are not satisfied or False values.

In [ ]:
a <= 5 or a < b

In [ ]:
a <= 5 or b >= 7

**Logical NOT (not)**
* Logical **'not'** reverses or negates the outcome of a conditional statement.

In [ ]:
not(a <= 5)

**<h5><center>Note</center></h5>**



* Precedence for Logical operators - **not, and, or**<br>

 ##### **User inputs with 'input( )' function**
* Prompt the user to provide a value using the **input( )** function
<br>
* **input( )** function always returns a string value
* Use the functions, such as **int( ), float( ), list( ), tuple( ), dict( )** etc., to convert the string data type to integers, float-pointing numbers, lists, tuples and dictionaries repectively

In [9]:
var = input('Enter a value: ')

# Print the value and the data type BEFORE conversion
print(var, type(var))

Enter a value: 9
9 <class 'str'>

In [10]:
# Use the respective functions to convert the string value to that data type
var1 = float(var)

# Print the value and the data type AFTER conversion
print(var1, type(var1))

9.0 <class 'float'>

**<center>Note</center>** <br>

 * Use the function, for data type conversion, directly with the input() function<br>
  * `var = float(input('Enter a value: '))`

### **Exercise 1**
#### **Comparison Operators**
1. Take two inputs from user and check whether they are equal or not.<br><br>
2. Take 3 inputs from user and check if
   * they all are equal
   * any two are equal<br>
   * **HINT**:  use **and**, **or**<br><br>
3. Take two numbers from user and check whether the sum is greater than 5, less than 5 or equal to 5.   
   * **HINT**:  For Python3 users, since the **input** outputs a string, use the **float()** to convert to a floating number before comparing<br><br>
4. Judge the following expressions :<br>
   **not(True and True)**<br>
   **True or False**<br>
   **not(False and True)**<br>
   **False and False**<br>
   What do you think are the results?<br>
   Try them on commandline

In [17]:
a = 12
b = 95
a <= b

True

In [18]:
var1 = input('Enter a value: ')
var2 = input('Enter a value: ')
var1 == var2

Enter a value: 12
Enter a value: 567

False

In [19]:
  var1 =input ("Enter Value")
  var2 =input ("Enter Value")
  var3 =input ("Enter Value")
  var1 == var2 and var1 == var3

Enter Value123
Enter Value3545
Enter Value8667887

False

In [21]:
var1 =input ("Enter Value")
var2 =input ("Enter Value")
var1 == var2 or var1 == var3

Enter Value123
Enter Value35445

False

### **üçôDecision Blocks**
* Control the direction of the code execution
* Use the outcome of the conditional statements, either True or False, to control the flow

**<h5><center>Note</center></h5>**

**Python Blocks**
* A block is a set of code statements that perform a specific task as a unit
* Every Python block lis marked by a colon **' : '**
* All the statements under the block must be indented
* Indentation must be consistent for each block in the whole python code

#### **If block**
* Consists of a Condition or Boolean expression followed by one or more statements.
* If the Condition or Boolean expression is **True**, then the statement(s) are executed. If **False**, then then the statement(s) are skipped

**if   < condition >:**
<br>
$\;\;\;\;\;\;$**statement(s)**

In [22]:
a = 5
if a <= 5:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')

'a' is less than or equal to 5
This statement is also executed under the if block

In [23]:
if a <= 4:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')
print('DONE')

DONE

#### **If..else blocks**
* **' if '** block may be followed by an optional **' else '** block which executes when the Condition or Boolean expression is false
* If the Condition or Boolean expression is **True**, then the statement(s) 1 are executed. If **False**, then then the statement(s) 2 are executed
* The **' else '** block has no conditions attached
* There can be only one **' if '** block and one **' else '** block

**if   < condition >:**
<br>
$\;\;\;\;\;\;$**statement(s) 1**
<br>
**else:**
<br>
$\;\;\;\;\;\;$**statement(s) 2**

In [ ]:
a = 6
if a <= 5:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')
else:
    print('\'a\' must be greater than 5')
    print('This statement is also executed under the else block')
print('DONE')

#### **If..elif..else blocks**

* **' if '** block may be followed by one or more optional **' elif '** (Else if) blocks and one optional **' else '** block
* The **' if '** block and **' elif '** blocks must have conditions attached. The **' else '** block has no conditions attached
* There can be only one **' if '** block and one **' else '** block. There can be more than one **' elif '** blocks.
* If the Condition or Boolean expression under the **' if '** block is **False**, then the condition of the next **' elif '** block is examined. If **True**, the statement(s) 2 are executed. If **False**, the next **' elif '** block is examined until the statements under the **' else '** block are executed if an **' else '** block exists.  

**if   < condition >:**
<br>
$\;\;\;\;\;\;$**statement(s) 1**
<br>
**elif   < condition >:**
<br>
$\;\;\;\;\;\;$**statement(s) 2**
<br>
**elif   < condition >:**
<br>
$\;\;\;\;\;\;$**statement(s) 3**
<br>
**else:**
<br>
$\;\;\;\;\;\;$**statement(s) 4**

In [25]:
b = input('Type a number for \'b\': ')  # '\' is an escape character
a = float(b)
if a <= 5:
    print('\'a\' is less than or equal to 5')
elif a > 5 and a <= 8:
    print('\'a\' is greater than 5 and less than or equal to 8')
elif a > 8 and a <= 10:
    print('\'a\' is greater than 8 and less than or equal to 10')
else:
    print('\'a\' must be greater than 10')
print('DONE')

Type a number for 'b': 123
'a' must be greater than 10
DONE

## **Exercise 2**
#### **UC 6+2 program**
Write a program to generate and print the UC 6+2 ID for a given first & last name.
1. Take 2 inputs, first name & last name and store them in two different variables.
2. If the length of the last name is >=6, generate the 6+2 ID by taking the first 6 letters from the last name, first and last letters from the first name.
3. If the length of the last name is <6, take all the letters from the last name, for the remaining letters pick the starting letters of the first name to make up for the length of 6 & first and last letters from the remaining first name
4. Print out the six plus two in lower case

In [27]:
# Take input for user's first name and store in a variable
first_name = ''# Replace this line with the right code

# Take input for user's last name and store in a variable
last_name = '' # Replace this line with the right code

input('Enter your first name: ')
input('Enter your last name: ')


# Use the appropriate If and else Decision Block with a condition that compares the Length of the Last name to 6
# In the If and else Decision Block store the six plus two in a variable
# Use the Tips below in your If and else Decision Bloc
if len(last_name) >= 6:
    six_plus_2 = last_name[0:?] + first_name[0] + first_name[?] # Replace this line with the right code
    print(six_plus_2)

# Continue the "If..elif..else" block with the appropriate block for the remaining scenario
else
    six_plus_2 = last_name + first_name[0:(6-len(?))] + first_name[6-len(?)] + first[?] # Replace this line with the right code
    print(six_plus_2)

# Print out the six plus two in lower case
    print(six_plus_2.lower())



# Tips (Replace the portions marked with ?)
# ********************************************
# For length of the last name is >=6, sixplus2 = last_name[0:?] + first_name[0] + first_name[?]
# For length of the last name is <6, sixplus2 = last_name + first_name[0:(6-len(?))] + first_name[6-len(?)] + first_name[?]

## **Loops**
* Loops are used to perform a specific task repeatedly until a condition is met
* 2 types of loops - **'while'** and **'for'**

### **üç•While Loop**
* **while** loop will execute as long as the looping condition or Boolean expression is **True**
* The loop is exited when the looping condition or Boolean expression becomes **False**

  **while   < condition >:**
  
  $\;\;\;\;\;\;$**statement(s)**

In [ ]:
count = 0
while count < 10:
  print(count)
  count = count + 1 # count += 1, short-hand notation to increment a variable

#### üç¢**Infinite loop**
Occurs when
* Loop condition cannot possibly be False example **while 1 != 2:** or **while True:**
* Logic of the loop prevents the loop condition from becoming false

In [ ]:
# CAUTION - Infinite loop
count = 0
while count >= 0:
  print(count)
  count += 1

#### üßÜ**Break Statement**
Used to exit the current loop

In [ ]:
count = 0
while count >= 0:
    print(count)
    count +=1 # count = count + 1
    if count >= 10:
        break

#### **While..else loop blocks**
* A feature very unique to Python
* The **'else'** block executes when either
 * Loop is never entered
 * Loop exits normally
* The **'else'** block does not execute when the loop exits as a result of a break

In [ ]:
import random #will explain import later
count = 0
while count < 3:
    num = random.randint(1,6) # This will generate a random number between 1 and 6
    print(num)
    if num == 5:
        print('sorry, you lose!')
        break
    count +=1
else:
    print('You win!')

**<h5><center>Note</center></h5>**

**Import command**
* Used to import external modules and packages containing functions and other definitions
* NB: We will introduce **Imports,** **Modules** and **Packages** into more details in the follow up workshop

**Module 'random' and function 'randint'**
* The module **'random'** contains definitions for generating random numbers
* **'randint (a , b)'** is defined in module **'random'** to generate a random integer between **'a'** and **'b'**

## ü´ï**For Loop**
* Each item in the sequence is assigned to the iterating variable and the statements are executed for each item until the entire sequence is exhausted.
* Number of iterations depends on the length of the sequence.
  
  **for < iterating variable > in < sequence > :**
  
  $\;\;\;\;\;\;$**statement(s)**

In [ ]:
for var in 'string':
    print(var)

In [ ]:
k = 'string'
for var in k:
    print(var.upper())

In [ ]:
list1 = ['banana','orange','mango']
for fruit in list1:
    print(fruit)

In [ ]:
for num in (2,4,1,34,5):
    print(num)

**<h5><center>Note</center></h5>**


**Range function**
The **range** function generates a list of numbers
* **range ( stop )** - generates a list of numbers from **0** to **'stop - 1'**
* **range ( start , stop )** - generates a list of numbers from **'start'** to **'stop - 1'**
* **range ( start , stop , step )** - generates a list of numbers from **'start'**, incrementing by **'step'** until a number less or equal to **'stop - 1'**

In [ ]:
for num in range(10):
    print(num)

In [ ]:
for num in range(-6,6):
    print(num)

In [ ]:
for num in range(0,20,4):
    print(num)

#### **For..else loop blocks**
* A feature very unique to Python just like **'while..else'** block
* The **'else'** block executes when the loop exits normally
* The **'else'** block does not execute when the loop exits as a result of a break

In [ ]:
fruits = ['banana','apple','orange','tomato','pear']
print('You have...')
for f in fruits:
    if f == 'tomato':
        print('tomato is not a fruit!')
        break
    print(f)
else:
    print('A fine selection of fruits!')

## **Exercise 3**
#### **DNA to RNA Transcription**
The process of converting DNA to RNA<br>
G->C<br>
C->G<br>
A->T<br>
T->A<br>
Example:<br>
**Input:** GCTAGCCTACG<br>
**Output:** CGATCGGATGC

Write a program that takes a DNA string input from a user and transcribes the string into an RNA string using rules above
* Your program should be case insensitive
* The program should exit if any other letter aside G,C, A and T is encountered in the DNA string
* Your program should output the RNA string in upper cases

In [ ]:
# Take input for DNA string and store in a variable DNA_string
DNA_string = '' # Replace this line with the right code

# Initialize the RNA output as an empty string
RNA_string = ''

# Use "for" loop to traverse the DNA string. Use "If..elif..else" sub block to check and concactenate the appropriate letter
# to RNA_string.
# Use "else" block in the "If..elif..else" sub block to output an error message and break if a diffrent letter is encountered

for i in DNA_string.upper():
    # the upper() method is used to make our program case insensitive
    if i == 'G':
        RNA_string = RNA_string + 'C'
    # Continue the "elif" blocks of the "If..elif..else" block for the other letters




    # Complete the "If..elif..else" block with "else" block for an error message assigned to RNA_string
    # break out of the loop


else:
    # This else is attached to the for loop
    print('Done with Translation')

print('DNA output: ', RNA_string)

## **Functions**
* A block of code, organized to perform an action and to be reusable
* **System-defined** functions - Built-in functions like **print**, **len**, **range**, **input**, etc. These are already defined once you install Python
* **User-defined** functions - You can also create your own functions

### Defining üçù**a User Defined Function**
* Begins with keyword **'def'** followed by the function name and parentheses **( )**
* Any input parameter/arguments should be placed within these parentheses. Multiple inputs are separated by commas **( , )**
* Code block starts with colon (**:**) and is indented
* **'return'** statement is optional and it exits a function
* **'return expression'** statement passes back an expression or value to the caller of the function.
* A fuction returns multiple values or objects as a list

**def function name ( [ parameter[s] ] ) :**
<br>
$\;\;\;\;\;\;$**function body**
<br>
$\;\;\;\;\;\;$**[return expression]**

In [ ]:
def printme(var):
    #This returns the variable passed into the function
    return var

### **Calling a Function**
* Use the name of the function followed by parentheses. If the function requires any arguments, they are placed in the parentheses.<br>
  `function_name(parameter_1, parameter_2,....)`

* It's essential to know the name of the function and understand its structure for effective use.

In [ ]:
# 1st Function call
printme('First call to user defined function')

In [ ]:
# 2nd Function call
printme(10)

### ü•ü**Variable Scope (Global vs. Local variables)**
* Variables defined outside a function body have a Global scope. (Accessible anywhere within the program)
* Variables defined inside a function body have a Local scope. (Accessible only within the function even if it has the same name as another)

In [ ]:
pressure = 103.9 # 'pressure' is Global
k = 0 # 'k' is Global
def adjust(t):
    # 'k' is Local to this function and has different value from Global 'k'
    k = 1.43
    temperature = t * k / pressure # 'temperature' is Local to function
    return temperature

In [ ]:
adjust(2000)

## **Exercise 4**
#### **Convert the UC 6+2 program to a function**
Create a function to generate and return UC 6+2 ID for a given first & last name.

1. The inputs should be the first name and last name in that order
2. If the length of the last name is >=6, take the first 6 letters from the last name & first and last letters from the first name to form the six plus two.
3. If the length of the last name is <6, take all of the last name, pick first letters of first name to make up for the length the last name & first and last letters from the remainder of the first name
4. Return the six plus two in lower case

In [ ]:
def uc_6_2(first_name,last_name):
    # Use the appropriate If and else Decision Block with a condition that compares the Length of the Last name
    # In the If and else Decision Block store the six plus two in a variable
    # Use the Tips below in your If and else Decision Block
    if len(last_name) >= 6:
        six_plus_2 = '' # Replace this line with the right code

    # Continue the "If..elif..else" block with the appropriate block for the remaining scenario

    # Return the six plus two in lower case
    return



# Tips (Replace the portions marked as with ?)
# ********************************************
# For length of the last name is >=6, sixplus2 = last_name[0:?] + first_name[0] + first_name[?]
# For length of the last name is <6, sixplus2 = last_name + first_name[0:(6-len(?))] + first_name[6-len(?)] + first_name[?]

## **Bonus Exercises**

### **Categorizing data**

Let us assume we are given a list *l* of many integers (could be 10, 100, many thouands, or even no integers at all). We are also given a value *x*. We want to modify *l* such that if a value in *l* is less than x, we assign that value in the list to be 0. Otherwise, we change the value in the list to be 1.

ex)

`assign([3,56,2,6,10,19,5], 5)` should modify the list *l* to be `[0, 1, 0, 1, 1, 1, 1]`

For every value in the original list, the values less than 5 are changed to 0, and the values that are greater than or equal to 5 are 1.

Below is a starting template for the problem and a few test cases. If the output is `True`, the test case has passed.

In [ ]:
def assign(l, x):


  pass

In [ ]:
l1 = [3,56,2,6,10,19,5]
assign(l1, 5)

l1 == [0,1,0,1,1,1,1]

In [ ]:
l2 = [10, 100, 1000]
assign(l2, 50)

l2 == [0,1,1,]

In [ ]:
l3 = [-5, -20, 4, 5, -1, 0]
assign(l3, 0)

l3 == [0,0,1,1,0,1]

### **FizzBuzz**

In this classic question, we are given an integer *n*. We need to return a list of size *n* where the count starts at 1, and the values of the list are strings with these rules:

- answer[i] == "FizzBuzz" if i is divisible by 3 and 5.
- answer[i] == "Fizz" if i is divisible by 3.
- answer[i] == "Buzz" if i is divisible by 5.
- answer[i] == i (as a string) if none of the above conditions are true.

In [ ]:
def fizz_buzz(n):



  return

In [ ]:
fizz_buzz(3) == ["1","2","Fizz"]

In [ ]:
fizz_buzz(5) == ["1","2","Fizz","4","Buzz"]

In [ ]:
fizz_buzz(15) == ["1","2","Fizz","4","Buzz","Fizz","7","8","Fizz","Buzz","11","Fizz","13","14","FizzBuzz"]

## Advanced and Future Topics
* Classes/Objects
* Modules and Imports
* Packages and Libraries
* File I/O
* Python for Data Analysis
* Python for Data Visualization
* Error Handling and Exceptions
* List Comprehension
* Regular Expressions
* Database Access
* Multithreading

## Helpful Resources
* CEAS Library Python resources - http://guides.libraries.uc.edu/python
* Online links & tutorials
 * Python documentation - https://www.python.org/doc/
 * Python Programming wiki book - http://en.wikibooks.org/wiki/Python_Programming
 * Python tutorials - Udemy, Code academy, etc

## $\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$Questions ??

$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Thank you for attending the workshop !!**


$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Your kind suggestions/feedbacks are more than welcome**